<!doctype html>
<html lang="en">
<head>
<%- include ('partials/meta.ejs') %> 
</head>
<body>
	<%- include ('partials/hunterheader.ejs') %>
	<div class="single-page pt70 pb70">
		<div class="container">
			<div class="row">
				<div class="col-sm-8">
					<article class="mb80">
						<div class="single-post" id='<%= postID %>'>

						</div>

							<!-- post-author -->
                        <div class="post-comments-area padding-top80">
                            <h3 class="sub-title padding-bottom50"> Comments</h3>
                            <ul class="comments-list">

                            </ul>
                        </div><!-- /.post-comments-area -->
							<div id="leave-comment" class="pb80">
								<div class="cdf-title mb30">
									<h2>LEAVE A REPLY</h2>
								</div>
								<form action="/post/<%= postID %>" method="post" id="comment-form" name="comment-form">
									<div class="contact-form-inner mb80">
										<div class="row">
											<div class="contact-form-field col-md-12">
											<textarea id="contents" rows="5" placeholder="Type your message...." name="contents" type="contents"></textarea>
                                                <div class="cdf-btn cdf-btn-one submit">
                                                    <button type="submit">SEND MESSAGE</button>
                                                </div>
										    </div>
									    </div>
                                    </div>
								</form>
					</article>
					</div>
					<div class="col-sm-4">
						<div class="side-bar">
							<div class="search side-bar-widget">
								<form action="#" method="get" class="side-bar-search newsletter">
									<input type="text" class="" placeholder="Search">
									<button type="submit"><i class="icon_search"></i></button>
								</form>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
    </div>
		
		<%- include ('partials/footer.ejs') %>

		<%- include ('partials/scripts.ejs') %>
	
		<script src="/clientjs/clientPost.js"></script>
</body>
</html>