<!doctype html>
<html lang="en">
<head>
<%- include ('partials/meta.ejs') %> 
</head>
<body>
	<%- include ('partials/header.ejs') %>
	<div class="single-page pt70 pb70">
		<div class="container">
			<div class="row">
				<div class="col-sm-8">
					<article class="mb80">
						<div class="single-post" id='<%= post.id %>'>
							<div class="cdf-image mb40">
								<img src="<%= post.imgURL %>" alt="">
								<figcaption></figcaption>
							</div>
							<div class="cdf-single-meta ul-li mb15">
								<ul>
									<li class="admin" id="<%= post.userID %>"><strong>Written</strong> by <%= postUsername %> </li>
									<li class="post-time"> <%= date.month %> - <%= date.day %>   </li>
									<% if (postUsername == username) { %>
									 <li>
											<button class="button btn" type='submit'>
												<span>
													<i id='<%= post.id %>' class="fas fa-trash"></i>
												</span>
											</button>
									 </li>
									<% } else { %>
										<li>
											<button class="button btn" type='submit'>
												<span>
													<i id='<%= post.id %>' class="fas fa-pencil-alt add-follow"></i>
												</span>
											</button>
									 </li>
									<% } %> 
								</ul>
							</div>
							<div class="cdf-title mb20">
								<h2><a href="#"><%= post.title %> </a></h2>
							</div>

							<div class="cdf-text">
								<p>Common Name: <%= post.commonName %> </p>
								<p>Scientific Name: <%= post.scientificName %> </p>
								<p>Location: <%= post.location %> </p>
								<p>Temperature: <%= post.temperature %> </p>
								<p>Precipitation: <%= post.precipitation %> </p>
								<p>Cloud Cover: <%= post.cloudCover %> </p>
								<p>Observations: <%= post.observation %> </p>
								</div>
							</div>

							<!-- post-author -->
							<div class="post-comments-area padding-top80">
								<h3 class="sub-title padding-bottom50"> Comments [<%= comments.length %>]</h3>
								<ul class="comments-list">
									<% for( let i = 0; i < comments.length; i++ ) { %>
										<li class="parent">
											
											<div class="comments-img">
												<img class="img-responsive" src="/img/blog/author.jpg" alt="Post Iamge">
											</div>
											<div class="comments-txt dark-bg content-box">
												<div class="author mb10">
													<a href="#" class=""><%= comments[i].username %>  </a> 
													<span> <%= commentDates[i].month %> - <%= commentDates[i].day %>   </span>
												</div>
												<div  id="default-state-<%= comments[i].id %>" >
												<p id='<%= comments[i].id %>' class="comments-contents"><%= comments[i].contents %> </p>
												<% if (username == comments[i].username) { %>
															<button class="button btn" type='submit'>
																<span>
																	<i id='<%= comments[i].id %>' class="fas fa-trash"></i>
																</span>
															</button>
														<button  class="button btn">
															<span>
																<i id='<%= comments[i].id %>' class="fas fa-pencil-alt"></i>
															</span>
														</button>
													</div>
												
												<div id="edit-state-<%= comments[i].id %>" class="invisible">
													<div class="col-4">
														<div id="editContainer" class="input-group">
																<textarea name="update" id="update-<%= comments[i].id %>" 
																class="form-control" 
																aria-label="With textarea"
																placeholder="Edit a todo item..."><%= comments[i].contents %></textarea>
																<div>
																<span class="input-group-append">
																	<button class="btn btn-outline-info h-100" type="submit" id="<%= comments[i].id %>">Edit</button>
																</span>
																<span class="input-group-append">
																	<button class="btn btn-outline-danger h-100" type="button" id="<%= comments[i].id %>">Cancel</button>
																</span>
																</div>
																
														</div>
													</div> 
											</div>
												<% } else { %>
													<a href="#" class="reply mt20"><i class="arrow_back"></i></a>
												<% } %>
											</div>
										</li>
									<% } %>
								</ul>
							</div><!-- /.post-comments-area -->
							<div id="leave-comment" class="pb80">
								<div class="cdf-title mb30">
									<h2>LEAVE A REPLY</h2>
								</div>
								<form action="/post/<%= post.id %>" method="post" id="comment-form" name="comment-form">
									<div class="contact-form-inner mb80">
										<div class="row">
											<div class="contact-form-field col-md-12">
											<textarea id="contents" rows="5" placeholder="Type your message...." name="contents" type="contents"></textarea>
											<div class="cdf-btn cdf-btn-one submit">
												<button type="submit">SEND MESSAGE</button>
											</div>
										</div>
									</div>
								</form>
							</div>
						</article>
					</div>
					<div class="col-sm-4">
						<div class="side-bar">
							<!-- <div class="search side-bar-widget">
								<form action="#" method="get" class="side-bar-search newsletter">
									<input type="text" class="" placeholder="Search">
									<button type="submit"><i class="icon_search"></i></button>
								</form>
							</div> -->
							<%- include ('partials/followingSkeleton.ejs') %>
							<%- include ('partials/recentSkeleton.ejs') %>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<%- include ('partials/footer.ejs') %>

		<%- include ('partials/scripts.ejs') %>
	
		<script src="/clientjs/clientPost.js"></script>
</body>
</html>